/* ---------------------------------------------------------------------
 Logo styles
------------------------------------------------------------------------ */
@import "base/_fonts";

.logo {
  font-family: "Amatic SC", cursive;
}

.logo-lg {
  font-size: 45px;
}

.logo-md {
  font-size: 38px;
}

.logo-sm {
  font-size: 32px;
}
