/* ---------------------------------------------------------------------
 Header styles
------------------------------------------------------------------------ */
.header {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 5px #eee;

  @media screen and (max-width: 767px) {
    padding: 20px 0;
  }

  .search-bar {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.header-links {
  @media screen and (max-width: 767px) {
    padding-bottom: 20px;
    text-align: center;
  }
}

.header-logo {
  display: inline;
  vertical-align: middle;

  &:hover {
    text-decoration: none;
  }
}

.header-nav-item {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px 10px 0;
}

