/* ---------------------------------------------------------------------
 Typography styles
------------------------------------------------------------------------ */
.hdg-1 {
  margin-bottom: 30px;
  font-family: "Amatic SC", cursive;
  font-size: 34px;
}

.hdg-2 {
  font-family: "Amatic SC", cursive;
  font-size: 27px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: #545454;

  &:hover {
    color: #414141;
    text-decoration: none;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}